<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--to reference we are going to be annotation driven, we need to add the <context:annotation-config/>-->

    <!--enables the spring core annotations-->
    <context:annotation-config/>
    <context:component-scan base-package="com.revature"/>

    <!--enables the annotations we will be using for mvc.-->
    <mvc:annotation-driven/>
</beans>