<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <!--this ties the lifecycle of tomcat to the lifecycle of spring so they are synchronized-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--
        spring utilizes the front controller design pattern (it already has a dispatcher servlet)
        We need to define the dispatcher servlet here to get spring webmvc to work.
    -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/applicationContext.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!--
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
      -->

</web-app>