* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(115, 165,194);
}
header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}
h1 {
    letter-spacing: 1.5vw;
    text-transform: uppercase;
    text-align: center;
    height: 10vh;
    padding-top: 50px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;
    background-color: orange;
    background-size: cover;
    border: 1px solid black;
    border-left:none;
    border-right:none;
}
.login {
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}
.form-box {
    text-transform: uppercase;
}
.form-box > label {
    letter-spacing: 3px;
    font-size: 1rem;
}
.label-class {
    letter-spacing: 3px;
    font-size: 1rem;
    padding: 8px;
    font-weight: bold;
}
.form-box > label {
    letter-spacing: 3px;
    font-size: 1rem;
}

#form-box {
    width: 320%;
    margin-inline-start: -211px;
}

.register {
    text-align: center;
    margin-top: 20px;
}
.register {
    letter-spacing: 1px;
}
.input-field {
    width: 97%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin-left: 5px;
}
.submit-css {
    border-style: none;
    border-radius: 5px;
    background-color: rgb(185,185,186);
    padding: 8px 20px;
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
}